image: ubuntu:22.04 # Default container image

# Reusable properties
variables:
  NS3: "ns-3.36.1"
  DEBIAN_FRONTEND: "noninteractive"

# Cache to speed up builds
cache:
  key: ${CI_COMMIT_BRANCH}
  paths:
    - "$NS3/ns-allinone-3.36.1"
    - "$NS3/ns-allinone-3.36.1.tar.bz2"

# Define stages
stages:
  - install

# Stage 2: Build
Install:
  stage: install
  rules:
    - when: always
  script:
    - cd $NS3
    - ./dependencies.bsh
    - ./install_cicd.bsh

